<div class="row mb-5">
  <div class="col-12">
    <form [formGroup]="searchForm">
      <input
        type="text"
        class="form-control"
        id="searchInput"
        aria-describedby="Ricerca ricette"
        autocomplete="off"
        autofill="off"
        placeholder="Cerca una ricetta"
        formControlName="searchInput"
        #searchInput
      />
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngIf="recipes.length > 0">
    <div class="list-group">
      <app-recipe-item
        *ngFor="let recipeEl of pagedRecipes"
        [recipe]="recipeEl"
      ></app-recipe-item>
    </div>
    <ngb-pagination
      [collectionSize]="recipes.length"
      [maxSize]="10"
      [rotate]="true"
      [(page)]="page"
      aria-label="Default pagination"
      (pageChange)="onPageChange($event)"
    >
      ></ngb-pagination
    >
  </div>
</div>
