.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    max-width: 400px;
  }
}

.form-control {
  border: 1px solid #000;
  border-radius: 0;
}

.search-input {
  font-size: 1.5rem;
}

.recipes-list {
  margin: 0 -20px;
}

.recipe-item {
  border: 0;
  display: flex;
  padding: 20px 5px;
  &:hover {
    background-color: transparent;
  }
  & > .inner {
    box-shadow: 10px 10px 0 #e6dc03;
    flex-grow: 1;
    width: 100%;
    transition: 0.2s ease-in-out;
  }
  &:hover > .inner {
    box-shadow: 8px 8px 0 black;
  }
  h4 {
    padding: 10px;
  }
  .img-wrapper {
    padding: 0;
    width: 100%;
    min-width: 100%;
    height: 150px;
    max-height: 150px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: 50% 50%;
    }
  }
}

.pagination {
  justify-content: center;
  .page-item {
    .page-link {
      color: black;
    }
    &.active .page-link {
      background-color: black;
      border-color: black;
      color: #fff;
    }
  }
}
